a.link {
    text-decoration: none;
    color: red;
    padding: 40px
}

li.home {
    display: inline-block;
    width: 215px;
    text-align:justify;
}

ul.home {
    background-color: deepskyblue;
}

button.link {
    background: transparent;
    border: none;
    color: red;
    cursor: pointer;
}