ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(29, 203, 209);
}

li {
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        /* Change the link color to #111 (black) on hover */
        li a:hover {
            background-color: pink;
        }

.login {
    overflow: hidden;
}

    /* Style the links inside the navigation bar */
    .login a {
        float: revert;
        color: deeppink;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        /* Change the color of links on hover */
        .login a:hover {
            background-color: rgb(204, 41, 166);
            color: black;
        }

        /* Add a color to the active/current link */
        .login a.active {
            background-color: #aa0f04;
            color: white;
        }

.search {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button.button {
    background-color: beige;
    color: currentColor;
    font-size: 15px;
    font-family: monospace;
    text-decoration-color: #691717;
    border: none;
    padding: 12px;
    text-align: left;
    display: inline-block;
    cursor: pointer;
}

span {
    display: inline-block;
    padding:1px;
}

h1 {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: table-header-group;
}

label {
    color: crimson;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color: darkcyan;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(45, 120, 141, 0.2);
    padding: 10px;
    z-index: 1;
    font-family: auto;
    font-size: inherit;
}


    .dropdown:hover .dropdown-content {
        display: block;
    }

input.button {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: none;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
}

    input.button:focus {
        width: 100%;
    }

.dropdown option {
    color: black;
    font-size: 20px;
}

.text {
    color: rgb(178, 33, 192);
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.head {
    font-family: sans-serif;
    font-size: xxx-large;
}

input.inputBox {
    display: inline;
    padding: 10px;
    margin: 23px;
    border: 1px solid skyblue;
    width: 300px;
}

.lala {
    color: black;
    font-family: cursive;
    font-size: xxx-large;
    display: table-header-group;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.tada {
    background-color: darkseagreen;
    cursor: pointer;
    appearance: auto;
    border: 0px;
    padding-top: 8px;
    font-size: initial;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 12px;
    color: blue;
    float: right;
}
#customers {
    font-family: 'Times New Roman', Times, serif;
    border-collapse: collapse;
}

    #customers td {
        border: 2px solid brown;
        padding: 12px;
    }

    #customers tr:nth-child(even) {
        background-color: #3ccb9b;
    }

    #customers tr:hover {
        background-color: #ddd;
    }

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
    }

table#customers {
    display: inline-block;
    padding: 10px;
}

.haha {
    font-family: system-ui;
    font-weight: bold;
    font-size: 20px;
}
.upimg {
    padding: 1px;
    padding-right: 3px;
    cursor: pointer;
    margin-right: 2px;
    margin-left: -50px;
}
.jaja {
    padding: 4px;
    float: left;
    margin-left: 19px;
}